<div class="fx-categories">

  <div class="fx-target-preview"></div>

  <dl class="fg-properties">

    <dt class="fx-target-title">Category</dt>
    <dd class="fx-target-title">
      <input
        type="text"
        class="fx-target"
        size="60"
        data-bind-value="category:title"/>
    </dd>

  </dl>

  <ul class="fg-actions">
    <li><input type="button" value="Cancel" class="fx-cancel"></li>
    <!--
    <li><input type="button" value="Update" class="fx-submit"></li>
    -->
  </ul>

</div>
