
<b>Role: {{contributorRole}}</b>

<legend data-bind-text="contributor:contributorRole | capitalized">Contributor</legend>

<span class="fx-delete"><a href="#">(x)</a></span>

<div>
  <label>Given names</label>
  <input type="text" data-bind-value="contributor:given" size="70"/>
</div>

<div>
  <label>Family name</label>
  <input type="text" data-bind-value="contributor:family" size="70"/>
</div>

