
<select name="contributorRole">
  <option value="author">Author</option>
  <option value="editor">Editor</option>
  <option value="translator">Translator</option>
</select>
<select name="contributorType">
  <option value="person">Person</option>
  <option value="group">Group</option>
</select>
<button>Add</button>

<div class="fx-instances"></div>

