
<ul>
  <li><a href="#fx-cite-main">main</a></li>
  <li><a href="#fx-cite-contributor">contributors</a></li>
  <li><a href="#fx-cite-other">location</a></li>
  <li><a href="#fx-cite-extent">citation</a></li>
</ul>

<div id="fx-cite-main">
  <dl class="fg-properties fx-cite-binding">
  </dl>
</div>

<div id="fx-cite-contributor">
</div>

<div id="fx-cite-other">
  <dl class="fg-properties">
  </dl>
</div>

<div id="fx-cite-extent">
  <dl class="fg-properties">
  </dl>
</div>

