
<ul>
  <li><a href="#fx-facts">facts</a></li>
  <li><a href="#fx-associations">associations</a></li>
  <li><a href="#fx-categories">categories</a></li>
</ul>

<div id="fx-facts">
  <div>&nbsp;</div>
  <ul class="fg-actions">
    <li><button>Add fact</button></li>
  </ul>
</div>

<div id="fx-associations">
  <div>&nbsp;</div>
  <ul class="fg-actions">
    <li><button>Add association</button></li>
  </ul>
</div>

<div id="fx-categories">
  <div>&nbsp;</div>
  <ul class="fg-actions">
    <li><button>Add category</button></li>
  </ul>
</div>

