
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" data-bind-show="filter:concept">
  <label>Filtered by concept:</label>
  <span data-bind-text="filter:concept_title"></span>
  <a href="#">(x)</a>
</div>

