{{! fieldset }}

<div class="fg-labeled-input">
  <label>Order by</label>
  <select name="sort" data-bind-value="filter:sort">
    <option value="recent">Last updated</option>
    <option value="name">Name</option>
  </select>
</div>

