%p
  Create a new project or join an ongoing one:
  Projects enable users to collaborate on writing articles
  and curating collections. A project may be public or private.
  Members of a project may be assigned roles: Some members may
  write submissions to be reviewed and edited
  by other members before publication.
  = link_to '&laquo; read more &raquo;'.html_safe, help_path
