%p
  %dfn Concepts
  are ideas used to organize content.

  Some concepts belong to hierarchical schemes and can be used to classify
  the types of topics described by articles.

  Others are simple tags used to identify themes in articles.

  = link_to '&laquo; read more &raquo;'.html_safe, '/about'

