
- content_for :javascripts do

  :javascript

    jQuery(function($) {

      var root = window,
        BB  = root.Backbone,
        app = root.Spinoza,

        $primary = $('#fl-primary'),

        collection = new app.Collections.Concepts();

      collection.fetch({ parent : 'topic', limit : 100 }).
        then(function() {
          var topConcept = collection.linkChildren(),
            outline = new app.Views.Concepts.Outline({ model : topConcept }),
            $outline = outline.render().$el;

          $primary.append($outline);
          $outline.find('> li > ul'). accordion({
            header      : '> .fx-concept',
            collapsible : true,
            active      : true
          });
        }).
        fail(function() {
          console.log("Failed to fetch concepts");
        });

    });

