
%header#fl-banner{ :role => "banner" }

  =link_to root_path do
    %h1{ :style => "display: inline" }
      Spinoza
    %span.fl-beta{ :style => "font-size: 50%" }
      [beta]

  .fx-subtitle Knowledge management

  = render 'layouts/menu'

