
%nav#fl-menubar
  %ul

    %li.fv-home
      %a{ :href => '/' } home

    %li.fv-narratives
      %a{ :href => '/articles' } articles

    %li.fv-concepts
      %a{ :href => '/concepts' } concepts

    %li.fv-projects
      %a{ :href => '/projects' } projects

    %li.fv-help
      %a{ :href => '/help' } help

    %li.fv-search
      = render 'layouts/search'

